version: '3.3'

services:
  # nginx:
  #   build: ./nginx
  #   container_name: nginx
  #   networks:
  #     - myNetwork
  #   restart: always
  #   ports:
  #     - 80:80
  #     - 443:443
  #   # depends_on:
  #   #   - python
  #   volumes:
  #     - ./data_storage/:/home/src/app/files
  #     - ./cert/:/home/src/cert
  #     - ./react_v2/build/:/home/src/app/build

  python:
    build: ./templ
    container_name: templ
    restart: always
    ports:
      - 5100:5000
    # depends_on:
    #   - redis
    volumes:
       - ./data_storage/:/usr/src/app/data_storage/
       - ./templ/server/:/usr/src/app/
    command: uwsgi --socket 0.0.0.0:5000 --protocol=http -w wsgi:app --env=.env
    networks:
      - myNetwork

  # deletefile:
  #   build: ./deletefile
  #   container_name: deletefile
  #   restart: always
  #   depends_on:
  #     - redis
  #   volumes:
  #      - ./data_storage/:/usr/src/app/data_storage/
  #      - ./templ/server/app:/usr/src/app/app
  #   command: rq worker --with-scheduler --url redis://redis:6379
  #   networks:
  #     - myNetwork

  # redis:
  #   # mem_limit: 512m
  #   container_name: redis
  #   image: redis
  #   # ports:
  #   #   - "6380:6379"
  #   restart: always
  #   volumes:
  #     - redis-data-tmp:/data/
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100m"
  #       max-file: "10"
  #       tag: "templ"
  #   networks:
  #     - myNetwork
      
  # postgresql:
  #   container_name: postgresql
  #   image: postgres:16.2
  #   restart: always
  #   volumes:
  #     - postgres-data-tmp:/var/lib/postgresql/data/
  #   environment:
  #     - POSTGRES_USER=apps
  #     - POSTGRES_PASSWORD=qasw123
  #   ports:
  #     - "5444:5432"
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-size: "100m"
  #       max-file: "10"
  #       tag: "{{.Name}}"
  #   networks:
  #     - myNetwork


networks:
  myNetwork:
    driver: bridge

volumes:
  postgres-data-tmp:
    external:
      name: postgresl_volume_tmp
  redis-data-tmp:
    external:
      name: redis_volume_tmp
