.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-Card {
  background-color: white;
  border: solid 1px rgb(192, 192, 192);
  /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-top: 2vh;
  width: 100% !important;
  margin-bottom: 20px;
}

.mr-30 {
  margin-top: 10px;
}

.mrr-10 {
  margin-right: 10px;
}

.file-block {
  border: solid 1px rgb(192, 192, 192);
  border-radius: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.file-block:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hover-icon:hover {
  background-color: rgba(217, 233, 255, 0.781);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.trash-icon {
  color: red;
}

.templ-icon {
  color: rgb(67, 67, 255);
}

.DnDContainer {
  margin: 2px;
  display: flex;
  /* padding: 10px 5px 10px 10px; */
  justify-content: center;
  flex-direction: row;
  /* height: 70px; */
  /* border: solid 1px rgb(192, 192, 192);
  border-radius: 5px; */
  /* background-color: rgba(146, 193, 255, 0.781); */
}

.DndItem:hover {
   background-color: rgba(230, 230, 230, 0.781);
   border-radius: 5px;
}

.DndItem {
  margin-right: 5px;
  height: 50px;
  width: 100%;
  /* border: solid 1px rgb(192, 192, 192);
  border-radius: 5px; */
  /* background-color: rgba(146, 255, 179, 0.781); */
}

.DnDEmpty {
  height: 1px;
}

.DnDInput {
  padding: 5px;
}

.button_file {
  width: 29px;
  height: 29px;
  border: solid 1px rgb(192, 192, 192);
  border-radius: 5px;
}